/* font styles */


h1 {
  font-size: 20px;
}

/* navbar styles */

nav {
  position: fixed;
  z-index: 2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}

.navlink {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navlink li {
  padding: 0 10px;
}

.navlink a {
  color: white;
  text-decoration: none;
}

.logo img {
  width: 50px;
}


/* header styles */

header {
  position: relative;
  display: block;
  height: 100vh;
  z-index: 1;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.50)
      ),
    url('../image/latte-hero.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover;
}

.hero-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hero-text h1 {
  font-size: 2rem;
  color: white;
  width: 100%;
}

.hero-text h2 {
  width: 100%;
  color: white;
}
