/* font styles */

@font-face {
    font-family: 'latolight';
    src: url('../font/lato-light-webfont.eot');
    src: url('../font/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lato-light-webfont.woff2') format('woff2'),
         url('../font/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'latoregular';
    src: url('../font/lato-regular-webfont.eot');
    src: url('../font/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lato-regular-webfont.woff2') format('woff2'),
         url('../font/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ovoregular';
    src: url('../font/ovo-regular-webfont.eot');
    src: url('../font/ovo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ovo-regular-webfont.woff2') format('woff2'),
         url('../font/ovo-regular-webfont.svg#ovoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1 {
  font-family: 'latoregular', serif;
  font-size: 50px;
  color: white;
}

h2,
h4,
a {
  font-family: 'latolight', sans-serif;
  font-size: 30px;
}

h3 {
  font-family: 'ovoregular', serif;
  font-size: 18px;
  line-height: 1.75;
}

p {
  font-family: 'latolight', sans-serif;
  text-align: center;
}

.blue-text {
  color: #1ac0ee;
}

.blue-text-title {
  color: #1ac0ee;
  font-family: 'latoregular', sans-serif;
}

.white-section-title {
  color: white;
  display: flex;
  justify-content: center;
  flex-flow: row;
  padding-bottom: 15px;
}

.black-section-title {
  color: black;
  display: flex;
  justify-content: center;
  flex-flow: row;
  padding-bottom: 15px;
}

/* navbar styles */

nav {
  position: fixed;
  background-color: rgba(48, 48, 48, 0.5);
  z-index: 3;
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  padding: 15px;
}

.navlink {
  display: flex;
}

.navlink li {
  padding: 0 10px;
}

.navlink a {
  color: white;
  letter-spacing: 3px;
  font-size: 1rem;
  font-variant: small-caps;
  text-decoration: none;
}

.logo img {
  width: 50px;
}


@media all and (min-width: 600px) {
  nav {
    position: absolute;
    background-color: transparent;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 10px 0;
    justify-content: flex-start;
  }

  .navlink {
    padding: 0 10px;
  }

  .navlink a {
    font-family: "latoregular", serif;
    font-size: 0.75rem;
  }
}

/* header styles */

header {
  position: relative;
  display: block;
  height: 30vh;
  width: auto;
  background:
    linear-gradient(
      rgba(48, 48, 48, 0.5), rgba(48, 48, 48, 0.5)
      ),
    url('../image/hero-image.jpg');
  background-repeat: no-repeat;
  background-position: 75%;
  background-size: cover;
}

.hero-title {
  position: relative;
  top: 25%;
  right: 3%;
}

.hero-title h1 {
  font-family: 'ovoregular';
  flex-direction: column;
  text-align: right;
  padding: 5px 0;
}


@media all and (min-width: 600px) {
  header {
    height: 40vh;
  }

  .hero-title {
    top: 30%;
  }

  .hero-title h1 {
    font-size: 5rem;
  }
}

/* mission section styles */

.mission {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 100px 0;
}

.black-title-border {
  display: flex;
  flex-flow: row;
  padding-bottom: 15px;
  border-bottom: 1px solid black;
}

.mission h3 {
  text-align: center;
  width: 75%;
  padding: 25px 0;
}

.mission h4{
  font-size: 0.75rem;
  text-align: center;
  line-height: 1.75;
  width: 60%;
  padding: 25px 0;
}


@media all and (min-width: 600px) {
  .mission h3 {
    width: 50%;
  }

  .mission h4 {
    width: 40%;
  }
}


/* about section styles */

.about .white-section-title {
  display: flex;
}

.about {
  background-color: #303030;
  padding: 75px 0;
}

.eco, .coffee, .community {
  padding: 50px 0;
}

i {
  padding: 25px 0;
  color: white;
  text-align: center;
  width: 100%;
}

.about p {
  color: white;
  line-height: 1.5;
  text-align: justify;
  padding: 0 28%;
}


@media all and (min-width: 600px) {
  .about-content {
    display: flex;
  }

  .eco, .coffee, .community {

  }

  .about p {
    padding: 0 20%;
    font-size: 0.75rem;
  }
}


/* menu section styles */

.menu {
  display: flex;
  flex-flow: column;
  padding: 100px 0;
}

.menu p {
  font-size: 1.5rem;
  padding: 5px 35px;
  text-align: left;
  font-variant: small-caps;
}

.small-text {
  font-size: 10px;
}

.menu-content {
  padding: 50px 0;
}

.menu-content .menu-item {
  float: left;
}
.menu-content .menu-price {
  float: right;
}

@media all and (min-width: 600px) {
  .menu p {
    padding: 5px 50px;
  }
}

/* seriously section styles */

.seriously {
  position: relative;
  display: block;
  padding: 100px 0;
  width: auto;
  background:
    linear-gradient(
      rgba(48, 48, 48, 0.8), rgba(48, 48, 48, 0.8)
      ),
    url('../image/think-coffee.jpg');
  background-repeat: no-repeat;
  background-position: 75%;
  background-size: cover;
}

.seriously p {
  font-size: 1.2rem;
  color: white;
  letter-spacing: 4px;
  padding: 15px 0;
}

/* contact section styles */

.contact {
  padding: 50px;
}

form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 50px 50px;
}


input, textarea {
  border: 1px solid black;
  outline: none;
  padding: 15px;
  font-size: 1rem;
}

button {
  width: 150px;
  padding: 20px;
  font-family: 'latolight', serif;
  font-size: 1rem;
  color: black;
  background-color: white;
  border: 2px solid black;
}

.button-container {
  padding: 25px 0;
}

::-webkit-input-placeholder {
  font-family: 'latolight', serif;
   color: #030303;
}

/* map section styles */

iframe {
  height: 400px;
  width: 100%;
}

@media all and (min-width: 600px) {
  iframe {
    height: 500px;
    width: 100%;
  }
}

/* footer section styles */

footer {
  background-color: #303030;
  line-height: 1.5;
	padding: 50px 0;
  font-size: 0.75rem;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.social ul {
  width: 100px;
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-between;
}

footer a {
	color: white;
  font-size: 0.75rem;
}
